:root {
	--light: #f2f2f2;
	--grey: #565468;
	--crimson: #de3a5a;
	--yellow: #eca81e;
	--light-blue: #516ef4;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: "Barlow", sans-serif;
	background-image: radial-gradient(circle at center top, rgb(31, 55, 87) 20%, rgb(19, 21, 55) 100%);
	background-repeat: no-repeat;
	position: relative;
}

.container {
	max-width: 1000px;
	min-height: 100vh;
	margin: 0 auto;
	padding: 0 20px 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* Game Stats Section */
.game-stats {
	width: 100%;
	max-width: 600px;
	margin-top: 30px;
	padding: 20px;
	border-radius: 8px;
	border: 4px solid var(--grey);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.game-title p {
	color: var(--light);
	font-size: 35px;
	font-weight: 700;
}

.player-score {
	width: 100px;
	padding: 20px;
	border-radius: 8px;
	font-weight: 700;
	text-align: center;
	background-color: var(--light);
}

.score-title {
	color: var(--light-blue);
	font-size: 20px;
}

.score-game {
	font-size: 60px;
	color: var(--light-blue);
}
/* Game Stats Section */

/* Match Section */
.game-match {
	width: 100%;
	max-width: 900px;
	flex: 1;
}

.game-match-title {
	margin: 40px 0;
	font-size: 35px;
	text-align: center;
	color: var(--light);
}

.container-choices {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 16px;
}

.player-choice,
.cpu-choice {
	width: 280px;
	height: 280px;
	background-color: var(--light);
	border-radius: 50%;
	border: 20px solid var(--grey);
	display: flex;
	justify-content: center;
	align-items: center;
}

.player-choice img,
.cpu-choice img {
	width: 90px;
}

.match-result {
	text-align: center;
	padding: 20px;
}

.result {
	font-size: 30px;
	font-weight: 700;
	color: var(--light);
}

.btnNewMatch {
	opacity: 0;
	pointer-events: none;
	width: 200px;
	padding: 10px;
	margin-top: 20px;
	color: var(--grey);
	background-color: var(--light);
	border-radius: 5px;
	border: 3px solid var(--light);
	cursor: pointer;
	font-size: 16px;
	font-weight: 700;
	transition: all 1s;
}

.btnNewMatch:hover {
	transition: all 1s;
	transform: scale(1.07);
	box-shadow: 0 15px 30px -15px rgba(255, 255, 255, 0.6);
}

.player-choices {
	display: flex;
	gap: 20px;
	align-items: center;
	flex: 1;
}

.player-choices > * {
	width: 100px;
	height: 100px;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--light);
	border-radius: 50%;
	cursor: pointer;
	border: 10px solid;
}

.rockChoice {
	border-color: var(--crimson);
}

.paperChoice {
	border-color: var(--yellow);
}

.scissorsChoice {
	border-color: var(--light-blue);
}

/* Match Section */

/* Media Queries */
@media screen and (max-width: 1024px) {
	.game-stats {
		padding: 15px;
		gap: 15px;
	}

	.game-title p,
	.game-match-title,
	.result {
		font-size: 25px;
	}

	.score-game {
		font-size: 40px;
	}

	.game-match {
		display: flex;
		flex-direction: column;
		justify-content: center;
		flex: 1;
	}

	.game-match-title {
		margin: 30px 0;
	}

	.container-choices {
		gap: 15px;
	}

	.player-choice,
	.cpu-choice {
		width: 200px;
		height: 200px;
	}

	.player-choice img,
	.cpu-choice img {
		width: 50px;
	}
}
@media screen and (max-width: 650px) {
	.containerChoices > * {
		width: 130px;
		height: 130px;
		border-width: 10px;
	}

	.player-choices > * {
		width: 80px;
		height: 80px;
	}
}
/* Media Queries */
